In [1]:
!pip install polars

Requirement already satisfied: polars in /home/harry/miniconda3/envs/testenv/lib/python3.9/site-packages (0.20.4)

In [2]:
import polars as pl
import pandas as pd

In [3]:
iris = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'
iris_pd = pd.read_csv(iris)
iris_pl = pl.read_csv(iris)

In [4]:
iris_pd

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris_pl